.highscores-container {
  margin: 20px auto;
  padding: 10px;
  background-color: #5eb3b3;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  width: 90%;
  max-width: 600px;
  color: #000;
  transition: background-color 0.3s;
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
  font-size: 14px;
}

th, td {
  padding: 10px;
  text-align: left;
}

th {
  background-color: #3e7b94;
  color: white;
  font-weight: bold;
  border-bottom: 1px solid #ddd;
}

td {
  background-color: #88d6d6;
  word-wrap: break-word;
}

tr:hover td {
  background-color: #c2e0e0;
}

@media (max-width: 768px) {
  .highscores-container {
    padding: 5px;
  }

  table {
    display: block;
    overflow-x: auto;
  }

  th, td {
    font-size: 12px;
    padding: 8px;
  }
}

@media (max-width: 480px) {
  table {
    display: flex;
    flex-direction: column;
  }

  tr {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #ddd;
  }

  th, td {
    text-align: center;
    padding: 6px;
  }

  th {
    background-color: transparent;
    font-weight: normal;
  }

  td {
    border-bottom: none;
  }
}

th {
  cursor: pointer;
  position: relative;
}

th span {
  margin-left: 5px;
  font-size: 12px;
}
